[submodule "subm"]
	path = subm
	url = https://github.com/tamasbazs/intro_android_demo
[submodule "newstep"]
	path = newstep
	url = https://github.com/bitrise-steplib/steps-script
[submodule "steps-script"]
	path = steps-script
	url = https://github.com/bitrise-steplib/steps-script
